<!DOCTYPE html>

<html lang="en">
  <head>
      <title>WEBRTC TEST</title>
  </head>
  <body>
      <h1>webrtc traing</h1>
      <video id="localStream" width="300" controls></video>
  </body>

  <script src="bundle.js"></script>
</html>
