<!DOCTYPE html>

<html lang="en">
  <head>
      <title>WEBRTC TEST</title>
  </head>
  <body>
      <h1>webrtc traing</h1>
      <video id="localStream" width="300" controls></video>
      <br /><br />
      <video id="friendStream" width="300" controls></video>
      <br /><br />
      <label>My connection token</label>
      <br /><br />
      <textarea rows="3" cols="100" id="txtMySignal"></textarea>
      <br /><br />
      <input type="text" placeholder="Your friends signal" id="txtFriendSignal">
      <br /><br />
      <button id="btnConnect">Connect</button>

  </body>

  <script src="bundle.js"></script>
</html>
